<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>ForwardToGateway.dpl</servlet-name>
    <jsp-file>/gateway.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardToGateway.dpl</servlet-name>
    <url-pattern>/ForwardToGateway.dpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Final.dpl</servlet-name>
    <jsp-file>/finalgateway.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Final.dpl</servlet-name>
    <url-pattern>/Final.dpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bdresponse</display-name>
    <servlet-name>bdresponse</servlet-name>
    <servlet-class>bdresponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bdresponse</servlet-name>
    <url-pattern>/bdresponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentStatus</display-name>
    <servlet-name>PaymentStatus</servlet-name>
    <servlet-class>PaymentStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentStatus</servlet-name>
    <url-pattern>/PaymentStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuickPay</display-name>
    <servlet-name>QuickPay</servlet-name>
    <servlet-class>QuickPay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuickPay</servlet-name>
    <url-pattern>/QuickPay</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.dpl</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout.dpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateRcpt</display-name>
    <servlet-name>GenerateRcpt</servlet-name>
    <servlet-class>GenerateRcpt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateRcpt</servlet-name>
    <url-pattern>/GenerateRcpt.dpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleCaptcha</servlet-name>
    <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleCaptcha</servlet-name>
    <url-pattern>/simpleCaptcha.jpg</url-pattern>
  </servlet-mapping>
</web-app>